
body{
  background: url("http://res.cloudinary.com/dejyp5iex/image/upload/v1508780855/Wood-Wallpaper-Background-9_dsdodm.jpg") no-repeat fixed center;
  background-color: hsl(180, 24%, 12%);
  text-align: center;
  font-weight:bold
}

.dialog-box{
  position: absolute;
  z-index: 1;
  top:20%;
  left: 0;
  display: none;
  width:100%;
  background-color:none;
  color:white;
  text-align: center;
}

.dialog-box h1{
  font-size: 10em;
}

.dialog-box h3{
  font-size: 6em;
}

h1{
  font-size:10em;
}

h3{
  font-size: 4em;
}

.letters{
  font-size: 4em;
}

.o{
 color:#0000FF;
}

.o:hover{
  cursor: pointer;
  background-color:black;
  color:white;
  padding:1%;
}

#or{
  font-size: 2em;
}

.x:hover{
  background-color:black;
  color:white;
  cursor: pointer;
  padding:1%;
}

.x{
  color:#00FF00;
}

#choose-player span{
  padding:1%;
  font-size: 2em;
}

#choose-player span:hover{
  cursor: pointer;
  /*background-color:lightblue;*/
  border:1px solid red;
  color:red;

}

#tic-tac-toe-container{
    width: 100%;
    display:none;
}

#tic-tac-toe-button-group{
  position: absolute;
  top:10%;
  left:0%;
}

input{
  color:black;
}

.ai-play-first{
  display:none;
  background-color:#AA0000;
  padding:1%;
  margin-top:1%;
}

#tic-tac-toe-ui{
  float:none;
  margin:auto;
}

#tic-tac-toe-ui td{
    width: 100px;
    height:100px;
    border:5px solid white;
    border:collapse;
    text-align: center;
    font-size: 3em;
    color:white;
    cursor:pointer;
}

#tic-tac-toe-ui td:hover{
  background-color: rgba(255,255,255,0.3);
}

.game-results-box p{
  font-size:3em;
  background-color: #222222;
  color:green;
}

.show-player-turn p{
  font-size: 2em;
  font-family: "Helvetica";
  color:white;
}


.button-group{
  margin-top:4%;
}

.versus{
  font-size: 6em;
  font-family: 'Lobster', cursive;
  color:red;
}

.player1vsplayer2-box{
  background-color:black;
}
.playersName{
  font-size: 3em;
  text-align:center;
  color:yellow;
  text-shadow: 0 0 10px;
}
